//Only js.html uses this code

/*makes the div round, mixin catches all of the potential browser compatibility issues of .target */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.target {
  @include border-radius(50%); //so we get the mixin
  background-color: #ff0000;
  display: block;
  height: 100px;
  margin: auto;
  width: 100px;
}

/*we'll center this in the viewport*/
.jsContainer {
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 300px;
}
/*centering the button, too*/
.trigger {
  margin: 10px auto;
  display: block;
}
